/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/bootstrap";

body {
  padding-top: 5rem;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1em;
}
