<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#">Opossum</a>
</nav>
<div class="container-fluid pb-5">
  <div class="jumbotron">
    <h1 class="display-4">
      {{ title }}
    </h1>
    <p class="lead">
      This app demonstrates usage of the <code>opossum</code>
      circuit breaker in Angular 5 applications.
    </p>
    <div id="intro-text">
      <p>
        The application calls a flakey web service that takes longer and longer
        to respond. The circuit breaker is configured to timeout after 500ms and
        execute a fallback command. Every 20 seconds, the flakey service is reset
        and the pattern is repeated.
      </p>
    </div>
  </div>
  <div class="row">
    <app-button
      (onServiceResponse)="responseList.addResponse($event)"
      (onClearList)="responseList.clearList()"
      (onSnapshot)="statsCard.update($event)">
    </app-button>
  </div>
  <div class="row">
    <div class="col-6 panel">
      <app-response-list #responseList></app-response-list>
    </div>
    <div class="col-6 panel">
      <app-stats-card #statsCard></app-stats-card>
    </div>
  </div>
</div>
