.clear {
  cursor: pointer;
  color: #3336ff;
}
.success {
  color: darkgreen
}
.open {
  color: red
}
.fallback {
  color: darkblue
}
.rejected {
  color: darkorange
}
.close {
  color: green
}
.timeout {
  color: darksalmon
}
